# Executables
*.exe
*.out
*.app

# Object/build files
*.o
*.obj

# Optional build folders
build/
bin/

# CLion / JetBrains local files
.idea/
*.iml

# CLion / CMake build folders
cmake-build-*/
out/

# Generated root binaries
/main
/main.exe

# macOS / Windows system files
.DS_Store
Thumbs.db

# Logs
*.log
CMakeLists.txt

.vscode